<div class="container">
    <form action="/user/signup/" method="POST"> {% csrf_token %}
        <div class="field">
            <label class="label">Name</label>
            <div class="control has-icons-left">
                <input name="firstname" class="input" type="text" placeholder="Vorname" value="">
                <span class="icon is-small is-left">
                    <i class="fa fa-user"></i>
                </span>
            </div>
            <div class="control has-icons-left">
                <input name="lastname" class="input" type="text" placeholder="Nachname" value="">
                <span class="icon is-small is-left">
                    <i class="fa fa-user"></i>
                </span>
            </div>
        </div>
        <div class="field">
            <label class="label">E-Mail</label>
            <div class="control has-icons-left">
                <input name="email" class="input" type="text" placeholder="E-Mail Adresse" value="">
                <span class="icon is-small is-left">
                    <i class="fa fa-at"></i>
                </span>
            </div>
        </div>
        <div class="field">
            <label class="label">Passwort</label>
            <div class="control has-icons-left">
                <input name="password" class="input" type="password" placeholder="Passwort" value="">
                <span class="icon is-small is-left">
                    <i class="fa fa-key"></i>
                </span>
            </div>
            <div class="control has-icons-left">
                <input name="password_confirm" class="input" type="password" placeholder="Passwort bestätigen" value="">
                <span class="icon is-small is-left">
                    <i class="fa fa-key"></i>
                </span>
            </div>
        </div>
        <div class="field">
            <label class="label">Adresse</label>
            <div class="control has-icons-left">
                <input name="street" class="input" type="text" placeholder="Straße" value="">
                <span class="icon is-small is-left">
                    <i class="fa fa-home"></i>
                </span>
            </div>
            <div class="control has-icons-left">
                <input name="house_number" class="input" type="text" placeholder="Haus-Nr." value="">
                <span class="icon is-small is-left">
                    <i class="fa fa-home"></i>
                </span>
            </div>
            <div class="control has-icons-left">
                <input name="zip_code" class="input" type="text" placeholder="PLZ" value="">
                <span class="icon is-small is-left">
                    <i class="fa fa-home"></i>
                </span>
            </div>
            <div class="control has-icons-left">
                <input name="town" class="input" type="text" placeholder="Ort" value="">
                <span class="icon is-small is-left">
                    <i class="fa fa-home"></i>
                </span>
            </div>
        </div>
        <input type="submit" class="button is-primary" value="Registrieren">
    </form>
</div>