<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
        <nav class="navbar is-primary" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <a class="navbar-item" href="/">
                    Home
                </a>
            </div>
            <div class="navbar-menu">
                <div class="navbar-start">
                    <a class="navbar-item" href="/product/list/">
                        Shop
                    </a>
                </div>
                <div class="navbar-end">
<!-- Jette: Beispiel für eine Search Bar in Bulma. kein Plan wie man die Einrückt oder die Farbe ändert, LG
                         <div class="field has-addons">
                            <div class="control">
                                <input class="input" type="text" placeholder="search">
                            </div>
                            <div class="control">
                                <a class="button is-info">
                                    Search
                                </a>
                            </div>
                        </div>
-->
                    {% load user_tags %}
                    {% session_buttons %}
                </div>
            </div>
        </nav>
        {{ site }}
    </body>
</html>